body {
  background-color: #293251;
}
.text-center {
  color: #f4f9ff;
}

title {
  color: #f4f9ff;
}

.row {
  padding-left: 10px;
}

span {
  display: inline-flex;
}

.container {
  background-color: #fff;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom: 50px;
  width: 90%;
}

.app-title {
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  height: 160px;
  background-color: #f4f9ff;
  margin-top: 20px;
  padding: 10px;
}

.weather-box{
  width: 100%;
}

.weather-icon {
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  height: 60px;
}

#run-search{
  background-color: skyblue;
  color: white;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.forecast-container{
  padding-right: 25px;
}

.temperature-value p:hover {
}

.card-body{
  padding: 1px;

}

#search-card {
  padding-top: 30px;
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-description {
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location {
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}
